@model IEnumerable<TimesheetMVC.Models.Assignment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p></p>
@using (Html.BeginForm(new { @class = "well form-search" }))
{
    <div class="row">
        <div class="span8">
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "input-medium search-query"})  
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
<thead>
    <tr>
        <th>Action Links</th>
        <th>
            Assignment
        </th>
         <th>
             @Html.ActionLink("Employee", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
             @Html.ActionLink("Project", "Index", new { sortOrder = ViewBag.ProjectSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            StartDate
        </th>
        <th>
            EndDate
        </th>
        <th>
            Active
        </th>        
        <th>
            CreatedDate
        </th>
        <th>
            CreatedBy
        </th>
        <th></th>
    </tr>
</thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssignmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssignmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssignmentID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assignment1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Project1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
    </tr>
}

</table>
